@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 2% 12%;
    --card: 0 0% 98%;
    --card-foreground: 240 2% 12%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 2% 12%;
    --primary: 182 97% 39%;
    --primary-foreground: 240 2% 12%;
    --secondary: 58 36% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 240 2% 70%;
    --accent: 67 100% 80%;
    --accent-foreground: 240 2% 12%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 240 2% 12%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 67 100% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 237 90% 5%;
    --foreground: 240 2% 88%;
    --card: 0 0% 2%;
    --card-foreground: 240 2% 88%;
    --popover: 0 0% 2%;
    --popover-foreground: 240 2% 88%;
    --primary: 182 97% 61%;
    --primary-foreground: 0 0% 2%;
    --secondary: 58 36% 83%;
    --secondary-foreground: 0 0% 2%;
    --muted: 0 0% 80%;
    --muted-foreground: 240 2% 88%;
    --accent: 67 100% 20%;
    --accent-foreground: 240 2% 88%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 240 2% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 67 100% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted text-foreground;
  }
}
